
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--branco);
    position: relative;
    font-family: var(--poppins);
}

.cabecalho__menu-hamburquer{
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.item{
    padding: 1em;
        
}

.content{
    display: flex;
    align-items: center;
}

.lista-menu{
    display: none;
    width: 60vw;
}

.container_botao:checked~.lista-menu{
    display: block;
    position: absolute;
    top: 100%;
}

.container_botao{
    display: none;
}


.lista-menu__titulo,
.lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
    line-height: 24px;
}

.lista-menu__titulo{
    color:var(--laranja);
    font-weight: 700;
}

.lista-menu_link{
    background: var(--gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-weight: 500;
}

