*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    min-height: 100vh;

    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top:50px;
    text-transform: capitalize;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

.imagem p{
    background-color: rgba(0, 0, 0, 0.253);
    width: 400px;
}

.normal{
    background-color: white;
    color: black;
}

.imagem{
    background:url();
}

footer{
    background-color: black;
    text-align: center;
    text-align: center;
    padding: 10px;
}