@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

:root{
    --font-principal:'Playfair Display', serif;
    --font-secudária:'Poppins',sans-serif;

    /* Cores */
    --Cor-background:#F6F6EE;
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    min-height: 100vh;
    width: 100%;
    background-color: var(--Cor-background);
    font-family: var(--font-principal);
}

header{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 30px auto;
    font-family: var(--font-secudária);
}

#nav-links{
    display: flex;
    gap: 30px;
    color: black;
    font-size: 1.2rem;
}
#nav-links a{
    color: black;
    
}
#nav-links li>a:hover{
    text-decoration: underline;
}

#underline{
    position: relative;
}

#underline::after{
    content: '';
    position: absolute;
    bottom: 0.5px;
    left: 1px;
    width: 100%;
    display: inline-block;
    height: 1px;
    background-color: black;
}

#hero{
    font-family: var(--font-principal);
    margin-top: 8px;
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
}

.first .text{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.first .text h1{
    font-size: 2.5rem;
    font-weight: 400;
}

.first .text p{
    margin-bottom: 2rem;
    width: 40%;
    min-width: 350px;
    font-size: 1.2rem;
}

#btn-get{
    padding: 8px 25px;
    border: none;
    background-color: black;
    border-radius: 20px;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

#btn-get:hover{
    background-color:#eababa ;
}

#paisage{
    width: 100%;
    padding-top: 60px;
}

